body {
    background-color: rgb(32, 32, 32);
}
#main #container {
    background-color: rgb(45, 45, 45);
}
th {
    color: white;
}
tbody {
    color: white;
}
@media (hover: hover) and (pointer: fine) {
    #container button:hover, #topLeft:hover, #pdfButton:hover {
        background-color: rgb(0, 0, 0);
        color: rgba(151, 52, 120);
    }
}
#active {
    background-color: black; 
}
button {
    color: black;
}
input {
    background-color: black;
    color: white;
}
span {
    color: white;
}