#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    bottom: 100px;
    background-color: white;
    margin: 120px auto;
}

#container div {
    display: flex;
    gap: 30px;
}
#pdfButton {
    padding: 8px 100px;
}

#active {
    background-color: white;
    color: rgba(151, 52, 120);
}
/* telefon */
@media (max-width: 768px) {
    #container{
        width: 60vw;
    }
}

/* minden mas */
@media (min-width: 769px) {
    #container{
        width: 30vw;
    }
}
@media (hover: hover) and (pointer: fine) {
    #container button:hover {
        transform: scale(1.05);
    }
    #topLeft:hover, #pdfButton:hover{
        transform: scale(1.05);
        background-color: white;
        color: rgba(151, 52, 120);
    }
}
#topLeft {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 8px;
}