*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    bottom: 100px;
    background-color: white;
    margin: 120px auto;
}

#container div {
    display: flex;
    gap: 30px;
}

button {
    border: none;
    cursor: pointer;
    transition: 1s;
    background-color: rgba(151, 52, 120);
    color: white;
    padding: 12px 30px;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#active {
    background-color: white;
    color: rgba(151, 52, 120);
}

a {
    color: white;
    text-decoration: none;
}

header{
    padding-top: 30px;
    text-align: center;
    padding-top: 30px;
}

/* telefon */
@media (max-width: 768px) {
    header > img {
        width: 30vw;
    }
    #container{
        width: 60vw;
    }
}

/* minden mas */
@media (min-width: 769px) {
    header > img {
        width: 10vw;
    }
    #container{
        width: 30vw;
    }
}

@media (hover: hover) and (pointer: fine) {
    #container button:hover {
        transform: scale(1.05);
    }
    
    #chooseClass button:hover, #topLeft:hover{
        transform: scale(1.05);
        background-color: white;
        color: rgba(151, 52, 120);
    }

    #chooseClass > input:active {
        transform: scale(0.90);
    }
}

#chooseClass {
    display: none;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
    margin: 120px auto;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

#chooseClass > input {
    width: 100%;
    max-width: 220px;
    height: 20%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#chooseClass > input:focus {
    border: 2px solid rgba(151, 52, 120);
}

#topLeft{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 8px;
}