*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    bottom: 100px;
    background-color: white;
    margin: 120px auto;
}
.container div {
    display: flex;
    gap: 30px;
}
button {
    border: none;
    cursor: pointer;
    transition: 1s;
    background-color: rgba(151, 52, 120);
}
@media (hover: hover) and (pointer: fine) {
    button:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    }
}
span {
    text-align: center;
    min-width: 200px;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.2);
}
button, span {
    color: white;
    padding: 15px 32px;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}
#active {
    background-color: white;
    color: rgba(151, 52, 120);
}
a {
    color: white;
    text-decoration: none;
}
header{
    text-align: center;
    margin-top: 30px;
}
/* telefon */
@media (max-width: 768px) {
    header > img {
        width: 30vw;
    }
    .container{
        width: 60vw;
    }
}
/* minden mas */
@media (min-width: 769px) {
    header > img {
        width: 10vw;
    }
    .container{
        width: 30vw;
    }
}
